@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.App {
  height: 100vh;
}

.completed {
  color: rgb(178, 178, 178);
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

/* .left-top {
  display: flex;
  position: absolute;
  top: 10px;
  left: 130px;
} */

.About {
  height: 100vh;
}
