@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(243deg, #04D2FF 0%, #A609F0 100%); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  height: 245vh;
  font-family: "Poppins", sans-serif;
}

.completed {
  color: rgb(178, 178, 178);
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.left-top {
  display: flex;
  position: absolute;
  top: 10px;
  left: 130px;
}
