
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(243deg, #04D2FF 0%, #A609F0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.TodoList {
  background: #1A1A40;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.Todo {
  cursor: pointer;
  height: 4rem;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

